@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Open+Sans:wght@300;700&display=swap");
body,
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  height: 50px;
  background-color: #ff7361;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .navbar {
  width: 80%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .navbar .icon-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .navbar .icon-nav ul a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
  font-size: 13px;
}

.container .navbar .icon-nav ul a:hover {
  color: #2f3239;
}

.container .navbar .icon-nav ul a i {
  margin-right: 5px;
}

.container .navbar .icon-nav ul .line {
  background-color: #2f3239;
  width: 1px;
  height: 15px;
}

.container .navbar .input-nav a {
  display: inline-block;
  color: #ffffff;
  margin-right: 5px;
}

.container .navbar .input-nav input {
  background-color: #ff7361;
  outline: none;
  border: none;
}

.container .navbar .input-nav ::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: bold;
}

.container .navbar .input-nav :-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
}

.container .navbar .input-nav ::-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
}

.container .navbar .input-nav ::placeholder {
  color: #ffffff;
  font-weight: bold;
}

header {
  background-color: #2f3239;
  width: 100%;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav-link {
  width: 80%;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-link nav {
  width: 68%;
}

header .nav-link nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-link nav ul li .active {
  background-color: #ff7361;
}

header .nav-link nav ul li .active I {
  color: #ffffff;
}

header .nav-link nav ul li a {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 15px;
}

header .nav-link nav ul li a:hover {
  background-color: #ff7361;
  color: #ffffff;
}

header .nav-link nav ul li a i {
  margin-left: 5px;
  font-size: 14px;
  color: #ff7361;
  font-weight: 300;
}

.main-sec {
  width: 100%;
  height: 400px;
  background-color: #ff7361;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-sec .main {
  width: 80%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-sec .main .main-l {
  width: 25%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-sec .main .main-l h2 {
  color: #ffffff;
  font-size: 28px;
}

.main-sec .main .main-l p {
  color: #ffffff;
  font-size: 13px;
  line-height: 25px;
  font-weight: bold;
}

.main-sec .main .main-l a {
  font-weight: bold;
  padding: 7px 21px;
  background-color: #2f3239;
  color: #ffffff;
}

.main-sec .main .main-l a:hover {
  opacity: 0.7;
}

.main-sec .main .main-r {
  width: 65%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../chrome.png") no-repeat center bottom;
}

.main-sec .main .main-r .area {
  outline: none;
  background-color: #ffe3df;
  border: none;
  border-radius: 10px;
}

.main-sec .main .main-r .area::-webkit-input-placeholder {
  color: #2f3239;
  font-size: 16px;
  padding: 30px;
}

.main-sec .main .main-r .area:-ms-input-placeholder {
  color: #2f3239;
  font-size: 16px;
  padding: 30px;
}

.main-sec .main .main-r .area::-ms-input-placeholder {
  color: #2f3239;
  font-size: 16px;
  padding: 30px;
}

.main-sec .main .main-r .area::placeholder {
  color: #2f3239;
  font-size: 16px;
  padding: 30px;
}

.main-sec .main a {
  padding: 7px 21px;
  background-color: #2f3239;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
}

.text-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.text-top .sec-text {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-top .sec-text .text-l {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-top .sec-text .text-l h2 {
  font-size: 15px;
  color: #2f3239;
}

.text-top .sec-text .text-r {
  width: 25%;
  height: 200px;
  border: 1px solid #2f3239;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
}

.text-top .sec-text .text-r ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
  padding: 10px;
  background-color: #EAEAEB;
}

.text-top .sec-text .text-r ul li h2 {
  color: #2f3239;
  font-size: 14px;
}

.text-top .sec-text .text-r h2 {
  color: #ff7361;
  font-size: 16px;
}

.text-top .sec-text .text-r hr {
  width: 90%;
}
/*# sourceMappingURL=style.css.map */